.sidebarButton {
  width: 50px;
  height: 50px;
  background-color: beige;
  border-radius: 10px;
  padding: 10px;
}

.sidebarButton .bar {
  height: 2px;
  margin-top: 7px;
  transition: transform 0.2s ease-in-out;
}

.sidebarButton .bar:first-child {
  width: 28px;
  margin-top: 0;
}

.sidebarButton .bar:nth-child(2) {
  width: 18px;
  transition: 0.2s ease-out;
}

.sidebarButton .bar:last-child {
  width: 23px;
}

.sidebarOpened {
  position: relative;
}

.sidebarOpened .bar {
  margin: 0;
}

.sidebarOpened .bar:first-child {
  transform-origin: bottom;
  transform: rotateZ(45deg) translateX(2px);
  width: 28px;
}

.sidebarOpened .bar:nth-child(2) {
  opacity: 0;
}

.sidebarOpened .bar:last-child {
  width: 28px;
  transform-origin: top;
  transform: rotateZ(-45deg) translateX(2px);
}