/* for [slug].tsx */
.filters {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filters::-webkit-scrollbar-thumb {
  display: none;
}

.description p {
  margin-top: 16px;
  text-align: justify;
}

.description li {
  margin-top: 20px;
}

.description ol,
.description ul {
  margin-left: 32px;
}

.description p:first-child {
  margin-top: 0;
}

.description blockquote {
  margin-top: 16px;
  margin-left: 12px;
  position: relative;
}

.description blockquote p {
  margin-left: 8px;
}

.description blockquote::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #000;
  margin-top: 16px;
  position: absolute;
  left: -12px;
  bottom: 0;
}